@font-face {
    font-family:'Bebas Neue';
    src: url('/bebas_neue/BebasNeue-Regular.eot');
    src: url('/bebas_neue/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
        url('/bebas_neue/BebasNeue-Regular.woff2') format('woff2'),
        url('/bebas_neue/BebasNeue-Regular.woff') format('woff'),
        url('/bebas_neue/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family:'Poppins';
    src: url('/poppins/Poppins-ExtraLight.eot');
    src: url('/poppins/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('/poppins/Poppins-ExtraLight.woff2') format('woff2'),
        url('/poppins/Poppins-ExtraLight.woff') format('woff'),
        url('/poppins/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
