@use "../abstracts/abstracts" as abstracts;
@use "../base/base" as base;

.div_header {
    @include abstracts.flexbox(row) {
        justify-content: space-between;
        
    }
    img {
        margin-top: 30px;
        margin-left: 30px;
    }
    
    ul {
        @include abstracts.flexbox(row){
            gap:20px;
            margin-top: 20px;
            margin-right: 20px;
        }
        li {
        font-family:abstracts.$tipografi_poppins;
        list-style: none;
      }
    }
}

.hero {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 40px;
   margin-top: 100px;
   margin-left: 20px;
   h1 {
    font-size: 3rem;
    font-family: abstracts.$tipografi_bebas;
    text-transform: uppercase;
    span {
        color:abstracts.$verde_agua;
      
    }

   }
   a {
    background-color: abstracts.$verde_agua;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    text-decoration: none;
    align-self: flex-start;
    
   }
   .numeros {
    @include abstracts.flexbox(row){
        gap: 100px;
        .p1 {
            font-family: abstracts.$tipografi_bebas;
            font-size: 2em;
        }
        .p2 {
            color: black;
            font-family: abstracts.$tipografi_poppins;
            font-size: 1em;
        }
    }
   }
}

.iconos {
    @include abstracts.flexbox(row){
        gap: 20px;
        margin-left: 20px;
    }
    article {
        width: 200px;
        height: 150px;
        padding: 10px;
        font-family: abstracts.$tipografi_poppins;
        font-size: 10px;
        background: white;
    }
}